*{
	padding:0px;
	margin:0px;
}
html{
	font-family: "Bebas Neue", Arial; 
}
body{
	background-color:rgba(255,0,0,0.4);
}
.GGG{
	margin:5px auto;
}
.GGG {
	font-size: 4.5em;
	font-family: sans-serif;
	font-weight: bold;
	color:white;
	display: flex;
	justify-content: center;
	margin: 0px;
	animation: appear 0.8s 1;
	background-color: rgba(0,0,0,0);

}
.bosm-text {
	display: flex;
    flex-direction: column;
    justify-content: center;
	z-index: 10;
	
	
}
@keyframes tranforming-text{
	0%{
		font-size: 4em;
	}
	100%{
		font-size: 1.5em;
	}
}
@keyframes frame-moved{
	0%{
			margin-left: -25rem;
	}
	100%{
		margin-left: 6.7rem;
	}
}
@keyframes appear{
	0%{	
		opacity: 0;
		font-size: 0em;
	}
	100%{
		opacity: 1;
		
		font-size: 4.5em;
	}
}

.box{position: absolute;
	width: 150px;
	height: 135px;
	border:2px solid white;
	margin-left: 6.7em;
	z-index: 1;
	animation: frame-moved 2s 1;	
	
}
.text-box-container{
	display: flex;
	justify-content: center;
	margin-top: 37vh;
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
}
.bosm-17{
display: flex;
    justify-content: center;
}
.bosm-17 p{padding:5px;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	background-color: white;
	animation: tranforming-text 0.6s linear;
}
